body{
    background-color: #4b67e0;
    margin: 0%; /*espaço externo da pagina*/
    padding: 0%;/*espaço interno da pagina*/
}


.inicial{
    background-color: #131b3d;
    width:25%;
    height: 25%;
}

#imagemInicial{
    background-color: #01020a;
    width: 100%;
    padding: 5% 10% 15% 25%;
}